<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/signup" >create an event </a><br/>
<a href="/login">already an event</a>
</body>
</html>